@model List<Order>

<h2>Delivered Orders Report</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Email</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.User.UserName</td>
                <td>@item.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>
