@model Store

<div class="card mb-4">
    <div class="card-body">
        <h3 class="card-title">Store Information</h3>
        <div class="row">
            <div class="col-lg-6">
                <address>
                    <strong>Seller Name:</strong> @Model.Name<br>
                    <strong>Governance:</strong> @Model.Governace<br>
                    <strong>City:</strong> @Model.City<br>
                    <strong>Description:</strong> @Model.Street<br>
                </address>
            </div>
        </div>
    </div>
</div>
