@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <style type="text/css">
        .container {
            margin: 30px;
        }
    </style>


    <div class="container bootstrap snippets bootdey">

        <div class="row">
            <div class="col-md-3">

                @* <a href="#"><strong><i class="glyphicon glyphicon-briefcase"></i> Toolbox</strong></a> *@
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <!-- <li><a href="#"><i class="glyphicon glyphicon-flash"></i> Alerts</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-link"></i> Links</a></li> -->
                    <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Products Applications</a></li>
                    <!-- <li><a href="#"><i class="glyphicon glyphicon-book"></i> Books</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> Tools</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-time"></i> Real-time</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-plus"></i> Advanced..</a></li> -->
                </ul>
                <hr>
            </div>
            <div class="col-md-9">

                <!-- <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>
                <hr> -->
            @foreach (var product in (List<Product>)ViewData["inActiveProducts"])
            {
                    <div class="row">

                        <div class="col-md-7">
                            <div class="well">
                            <a asp-controller="Admin" asp-action="ProductConfirmation" asp-route-id="@product.Id"># @product.Name</a>
                                 <span class="badge pull-right">@product.CreatedAt</span>
                            </div>
                            <hr>
                        
                            <!-- <div class="panel panel-default">
                                
                            </div> -->
                        </div>
                    

                    </div>
                }
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
