@model Phone_Shop.Models.Account

@{
    ViewData["Title"] = "Edit";
 
}

<h1>Edit Details</h1>


<hr/>
<div class="row">
    <div class="col-md-4" style="margin-left:30%">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" value="@Model.Name"></span>
            </div>

            <div class="form-group">
            <label asp-for="Photo" class="control-label"></label>
            <input asp-for="Photo" type="file" name="Input.Photo" class="form-control" autocomplete="Photo" aria-required="true" placeholder="Photo" />
            <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top:30px; margin-left:45%" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
