@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-3"></div>
    <div class="col-md-5" style="background-color:#1d2733;  border-radius:15px; margin:10px">
        <br />

        <h1 style="color:white;">@ViewData["Title"]</h1>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h2 style="color:white;">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control"  aria-required="true" placeholder="Name" />
                <label asp-for="Input.Name">Name</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Phone" class="form-control" autocomplete="Phone" aria-required="true" placeholder="Phone" />
                <label asp-for="Input.Phone">Phone number</label>
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Photo" class="control-label" style="color:white;"></label>
                <input asp-for="Input.Photo" type="file" name="Input.Photo" accept=".jpg, .jpeg, .png" class="form-control" autocomplete="Photo" aria-required="true" placeholder="Photo" style="margin-bottom:20px" />
                <span asp-validation-for="Input.Photo" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.Role" for="selectField"  style="color:white;">Select a Role:</label>
                <select id="selectField" asp-for="Input.Role" style="margin-bottom:20px" class="form-select" aria-label="Default select example">
                    <option selected value="Customer">Customer</option>
                    <option value="Seller">Seller</option>

                </select>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-secondary">Register</button>
        </form>
        <br />

    </div>
</div>

<script>
    document.getElementById('registerForm').addEventListener('submit', function (event) {
        var fileInput = document.getElementById('Input_Photo');
        var fileName = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

        if (!allowedExtensions.exec(fileName) && fileName != "") {
            alert('Please upload a file with a valid extension (.jpg, .jpeg, or .png).');
            event.preventDefault(); // Prevent form submission
        }
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}